<%publication.forEach(publication =>{%>
	<div class="card mt-4">
		<div class="card-body">
			<h4 class="card-title"><%= publication.subject %> <%= publication.group %></h4>
			<div class="card-subtitle text-muted mb-2"><%= publication.teacher %></div>
                        <a href="" class="btn btn-primary stretched-link">Checar</a>
		</div>
	</div>
<%})%>
