<div class="container ">
    <div class="card mt-5">
      <div class="card-body">
    
        <form action="api/publication" method="POST" enctype="multipart/form-data" class="row g-3" id="assignment">
          <div class="col-md-6">
            <label for="inputTitle" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>
          
          <div class="col-12">
            <label for="inputDescription" class="form-label">Descripción</label>
            <textarea class="form-control" aria-label="With textarea" name="content" maxlength="2000"></textarea>
          </div>

          <div class="col-12">
            <div class="input-group mb-3">
              <input type="file" class="form-control" id="inputGroupFile01" name="files">
            </div>
          </div>

	<!-- HOMEWORK SECTION-->
          
	  <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
             	<label class="form-check-label" for="gridCheck">
                	Tarea
              	</label>
            </div>
          </div>

          <div class="col-3">
            <label for="startDate" class="form-label">Fecha de entrega</label>
            <input id="startDate" class="form-control" type="date" disabled/>
          </div>
          
	  <div class="col-md-4">
            <label for="inputCategory" class="form-label">Categoria</label>
	    <input class="form-control" list="datalistcategory" id="category" placeholder="agregue una categoria" disabled>
          </div>

          
          <div class="col-12">
            <button type="button" id="createCriteria" class="btn btn-secondary" onclick="add_tag()" disabled>Agregar etiqueta</button>
          </div>

	<div class="col-12 ">
 	   <button type="submit" id="createPublication" class="btn btn-primary offset-md-10">Publicar</button>
         </div>

        </form>
	</div>
     </div>

        <script>
		let counter=0
		
		document.getElementById('gridCheck').onclick = function() {
    			
			document.getElementById('startDate').disabled = !this.checked;
    			document.getElementById('createCriteria').disabled = !this.checked;
			document.getElementById('category').disabled = !this.checked;
			
			if(counter!=0){
				console.log(counter)
				for(let count=1;count<=counter;count++){
					console.log(count)
    					document.getElementById('criteria'+count).disabled = !this.checked;
					document.getElementById('weight'+count).disabled = !this.checked;
				}
			}	
		};

		function add_tag(){
			
			counter++

			html=
	  		'<div class="row justify-content-start">\
				<div class="col-2">\
	          		  <label for="criteria" class="form-label">Criterio</label>\
	          		  <input type="text" id="criteria'+counter+'" class="form-control" required="required"/>\
	          		</div>\
	          		<div class="col-md-2">\
	          		  <label for="inputWeight" class="form-label">Ponderacion</label>\
	          		  <input type="number" class="form-control" id="weight'+counter+'" name="weight" min="1" max="100" required="required">\
	          		</div>\
			</div>'	
			var form = document.getElementById('createPublication')
			form.insertAdjacentHTML("beforebegin", html)

		}

	</script>
  </div>
