<div class="card mt-4">
	<div class="card-body">
		<h4 class="card-title"><%= publication.title %></h4>
		<div class="card-subtitle text-muted mb-2"><%= publication.publicationDate.substring(0,10) %></div>
        	<p class="card-text"><%= publication.content %></p>
	</div>
</div>
